footer {
    padding: 1.25rem;
    text-align: center;
    margin: 2rem 0 0;
    color: aliceblue;
    background: linear-gradient(150deg, white, grey, white);
    background-size: 400% 300%;
    animation: BgGradient 5s ease infinite;
}