nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .2rem .2rem;
    
}

nav h1 {
    color: var(--primary-color);
}

nav a {
    color:#ff7235;
    transition: var(--transition);
}

nav a:hover {
    color:#ff7235;
}

nav ul {
    display: flex;
    gap: 1.9rem;
}

nav ul li {
    font-weight: var(--bold-font);
}

.burger-menu {
    color: var(--primary-color);
    font-size: 2rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: none;
}
